---
http_interactions:
- request:
    method: get
    uri: https://api-qa.dhlecommerce.com/efulfillment/v1/auth/accesstoken
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YjIwNjhjZWQtMDE1ZS00MzZmLWJhODYtNmI4NzVlNjUyYjc4OjJmYjIyNTIyLTVkODItNGE1Yi1iOThiLTM4MmVkNWE1OWMwNg==
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Correlationid:
      - Id-d7368a592a5b2db624a1947b 0
      Clientside:
      - 189.195.131.66
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"hvCku9Rs2EQz5pJUFqBHENtHMElnF1FK0TQ68FYzkSCUUfy4gzrU7R","token_type":"Bearer","expires_in":18000,"scope":"efulfillment"}'
  recorded_at: Tue, 08 Aug 2017 22:10:32 GMT
recorded_with: VCR 3.0.3
