---
http_interactions:
- request:
    method: post
    uri: https://api-qa.dhlecommerce.com/Fulfillment/v1/order
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer hvCku9Rs2EQz5pJUFqBHENtHMElnF1FK0TQ68FYzkSCUUfy4gzrU7R
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Allow:
      - OPTIONS, POST
      Max-Forwards:
      - '20'
      X-Correlationid:
      - Id-dc368a592e5bb42eeed0314d 0
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"session":"Id-dc368a592e5bb42eeed0314d","error":{"code":"400","description":"JSON
        validation failed.","detailError":"Object has missing required properties
        ([\"CreateSalesOrder\"]). Hint: ."}}'
  recorded_at: Tue, 08 Aug 2017 22:10:36 GMT
recorded_with: VCR 3.0.3
