---
http_interactions:
- request:
    method: get
    uri: https://api-qa.dhlecommerce.com/Fulfillment/v1/order/status/1111111?orderNumber=1111111
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer INVALIDTOKEN
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      X-Correlationid:
      - Id-73a1a5596f1e6b813963352e 0
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\r\n  \r\r\n   \"reasons\": [{\"msg\" : \"Invalid Authorization Header\"}],\r\n
        \ \r\r\n   \"details\": {\r\n    \"msgId\": \"Id-73a1a5596f1e6b813963352e\"\r\n
        \ }\r\n\r\r\n}"
  recorded_at: Tue, 29 Aug 2017 17:16:35 GMT
recorded_with: VCR 3.0.3
