---
http_interactions:
- request:
    method: get
    uri: https://api-qa.dhlecommerce.com/Fulfillment/v1/shipment/details/1111111?orderNumber=1111111
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer INVALIDTOKEN
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      X-Correlationid:
      - Id-4519a659ad425188931b9ebd 0
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\r\n  \r\r\n   \"reasons\": [{\"msg\" : \"Invalid Authorization Header\"}],\r\n
        \ \r\r\n   \"details\": {\r\n    \"msgId\": \"Id-4519a659ad425188931b9ebd\"\r\n
        \ }\r\n\r\r\n}"
  recorded_at: Wed, 30 Aug 2017 01:47:49 GMT
recorded_with: VCR 3.0.3
