---
http_interactions:
- request:
    method: get
    uri: https://api-qa.dhlecommerce.com/Fulfillment/v1/order/status/1111111?orderNumber=1111111
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer hvCku9Rs2EQz5pJUFqBHENtHMElnF1FK0TQ68FYzkSCUUfy4gzrU7R
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Max-Forwards:
      - '20'
      X-Correlationid:
      - Id-d1a2a559c21ed1cae4b42fb1 0
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "session" : "Id-d1a2a559c21ed1cae4b42fb1",
          "error" : {
            "code" : "YCP0428",
            "description" : "API Security Violation."
          }
        }
  recorded_at: Tue, 29 Aug 2017 17:22:27 GMT
recorded_with: VCR 3.0.3
