---
http_interactions:
- request:
    method: get
    uri: https://api-qa.dhlecommerce.com/efulfillment/v1/order/status/1111111?orderNumber=1111111
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer hvCku9Rs2EQz5pJUFqBHENtHMElnF1FK0TQ68FYzkSCUUfy4gzrU7R
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Max-Forwards:
      - '20'
      X-Correlationid:
      - Id-729ea559b81d7f2e34832550 0
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "Page" : {
            "PageNumber" : "1",
            "IsValidPage" : "Y",
            "IsLastPage" : "Y",
            "TotalNumberOfOrders" : "1",
            "OrderList" : {
              "Order" : [ {
                "AccountNumber" : "1111111",
                "OrgID" : "",
                "MessageDateTime" : "",
                "OrderNumber" : "1111111",
                "OrderReferenceNumber" : "44444",
                "OrderDateTime" : "2017-02-17T09:58:49-05:00",
                "OrderStatus" : "Shipped",
                "IsOnHold" : "N",
                "HoldReasonCode" : ""
              } ]
            }
          }
        }
  recorded_at: Tue, 29 Aug 2017 17:03:48 GMT
recorded_with: VCR 3.0.3
