---
http_interactions:
- request:
    method: get
    uri: https://api-qa.dhlecommerce.com/Fulfillment/v1/shipment/details/1111111?orderNumber=1111111
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer hvCku9Rs2EQz5pJUFqBHENtHMElnF1FK0TQ68FYzkSCUUfy4gzrU7R
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Max-Forwards:
      - '20'
      X-Correlationid:
      - Id-3f19a659ab424b2e4c68a3c9 0
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "Page" : {
            "PageNumber" : "1",
            "IsValidPage" : "Y",
            "IsLastPage" : "Y",
            "TotalNumberOfOrders" : "1",
            "OrderList" : {
              "Order" : [ {
                "OrderNumber" : "1111111",
                "Shipments" : [ {
                  "Shipment" : [ {
                    "TrackingNumber" : "9274899996399500429577",
                    "Service" : "3",
                    "SCAC" : "DHLE",
                    "Shipdate" : "2017-02-20T13:00:50-05:00",
                    "ShipNode" : "OH1",
                    "ContainerNumber" : "00009999990000429452",
                    "OrderReferenceNumber" : "",
                    "PackageContent" : [ {
                      "ItemID" : "FLEXTEST1",
                      "OriginalOrderLineNumber" : "",
                      "OrderQuantity" : "1",
                      "ShipQuantity" : "1"
                    } ]
                  } ]
                } ]
              } ]
            }
          }
        }
  recorded_at: Wed, 30 Aug 2017 01:47:45 GMT
recorded_with: VCR 3.0.3
