---
http_interactions:
- request:
    method: get
    uri: https://api-qa.dhlecommerce.com/Fulfillment/v1/shipment/details/1111111?orderNumber=1111111
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer hvCku9Rs2EQz5pJUFqBHENtHMElnF1FK0TQ68FYzkSCUUfy4gzrU7R
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Max-Forwards:
      - '20'
      X-Correlationid:
      - Id-4219a659ac421381bcc2497c 0
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "session" : "Id-4219a659ac421381bcc2497c",
          "error" : {
            "code" : "919",
            "description" : "Invalid value(s) found for field(s) : OrderNo ('1111111')"
          }
        }
  recorded_at: Wed, 30 Aug 2017 01:47:48 GMT
recorded_with: VCR 3.0.3
