---
http_interactions:
- request:
    method: get
    uri: https://api-qa.dhlecommerce.com/efulfillment/v1/order/acknowledgement/1111111/1234/0420FL011
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer hvCku9Rs2EQz5pJUFqBHENtHMElnF1FK0TQ68FYzkSCUUfy4gzrU7R
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Max-Forwards:
      - '20'
      X-Correlationid:
      - Id-de368a59305b58d13c032c9c 0
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "CreationAcknowledge" : {
            "Order" : {
              "AccountNumber" : "1111111",
              "OrgID" : "1111111",
              "OrderDateTime" : "2017-02-15T21:27:50-05:00",
              "OrderNumber" : "0420FL01",
              "OrderReferenceNumber" : "",
              "OrderSubmission" : {
                "OrderSubmissionID" : "0420FL01",
                "MessageID" : "Id-54dff85888563a809f41f146",
                "OrderCreationStatus" : "Order Created"
              }
            }
          }
        }
  recorded_at: Tue, 08 Aug 2017 22:10:40 GMT
recorded_with: VCR 3.0.3
